/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark  {
  --bg-color: #000028;
  --bg-image: url('../images/cover-image-dark.png');
  --accent-color: #FF0070;
  --text-color: #F1B2CE;
  --button-hover: #FF007066;
  --title-color: #DB00FF;
  --title-decor-text-color: #000028;
  --link-hover: #F1B2CE;
}