.page {
  margin: auto;
  min-height: 100vh;
  inline-size: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 35px;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: var(--text-color);
  font-family: var(--fonts);
  font-size: 18px;
  line-height: 1.3;
}

.header {
  display: grid;
  grid-template-rows: auto 1fr 1fr 1fr auto;
  position: relative;
  block-size: clamp(668px, 100vh, 41.75rem);
  padding: 0 10px;
  box-sizing: border-box;
}

.header__rec {
  position: absolute;
  top: 15px;
  right: 20px;
  display: var(--display-circle);
  align-items: center;
  gap: 10px;
  color: var(--menu-decor-color);
  font-family: 'IBM Plex Mono', monospace;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.3;
}

.header__rec::after {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}


.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
}

.decorated-zone::before {
  top: 15px;
  right: 15px;
  border-block-start: 1px solid var(--menu-decor-color);
  border-inline-end: 1px solid var(--menu-decor-color);
}

.decorated-zone::after {
  bottom: 10px;
  left: 10px;
  border-block-end: 1px solid var(--menu-decor-color);
  border-inline-start: 1px solid var(--menu-decor-color);
}

.header__theme-menu {
  justify-self: end;
  align-self: start;
  font-family: var(--fonts);
  font-size: 18px;
  line-height: 1;
  text-align: center;
  padding-block-start: 70px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__theme-menu-button {
  background: transparent;
  border: none;
  border-bottom: 1px solid transparent;
  padding: 2px 13px;
  cursor: pointer;
  color: var(--menu-decor-color);
  font-family: inherit;
  font-size: 18px;
  text-transform: lowercase;
  transition: outline 0.3s ease;
  outline: 1px solid transparent;
  outline-offset: 0;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-hover);
}

.header__theme-menu-button:disabled,
.header__theme-menu-button_active {
  outline: 1px solid var(--menu-decor-color);
  pointer-events: none;
  opacity: 1;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--menu-decor-color);
}

.header__title {
  grid-row: 2;
  align-self: end;
  margin: 0;
  margin-block-start: 70px;
  color: var(--title-color);
  font-family: var(--fonts);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.825;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.subtitle-decor {
  align-self: center;
  padding-block-start: 55px;
}

.header__subtitle {
  background-color: var(--accent-color);
  color: var(--subtitle-color);
  font-family: var(--fonts);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}

main {
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: 1fr;
  gap: 50px;
  padding: 0 10px;
}

.concentration-guide__section {
  display: grid;
  gap: 20px;
}

.container-reasons {
  display: grid;
  gap: 15px;
}

.reason-card,
.factor-card {
  display: grid;
  gap: 10px;
}

.reasons-list,
.factors-list {
  display: grid;
  gap: 20px;
}

.concentration-guide__title {
  font-family: var(--fonts);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: var(--title-color-section);
}

.card__title,
.tips-list__subtitle {
  line-height: 23.4px;
  font-family: var(--fonts);
  font-weight: 700;
  font-size: 18px;
  color: var(--title-decor-text-color);
  background-color: var(--accent-color);
  inline-size: 100%;
  block-size: max-content;
}

.tips-list {
  display: grid;
  gap: 20px;
}

.tips-list__item {
  display: grid;
  gap: 10px;
}

.card__text {
  font-family: var(--fonts);
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
}

.link {
  line-height: 23px;
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
  font-family: var(--fonts);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

.link:hover {
  border-bottom: 1px solid var(--text-color);
}

.link:focus {
  border: 1px solid var(--accent-color);
  outline: none;
  padding: 2px 4px;
  display: inline-block;
}

.tips-list__title {
  line-height: 23.4px;
  font-family: var(--fonts);
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: var(--title-decor-text-color);
  background-color: var(--accent-color);
  block-size: max-content;
  inline-size: 100%;
}

.gallery-grid {
  display: grid;
  margin-top: calc(20px * -0.5);
  gap: 10px;
}

.image {
  object-fit: cover;
  block-size: 100%;
  inline-size: 100%;
}

.footer {
  display: grid;
  padding: 8px;
  position: relative;
  text-align: center;
  min-height: 680px;
  margin-bottom: -35px;
}

.footer__title {
  justify-self: center;
  align-self: center;
  line-height: 82.5%;
  text-shadow: 2px 2px 0px var(--accent-color);
  font-family: var(--fonts);
  font-style: normal;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-color);
}

@media (width >= 768px) {
  .page {
    gap: 58px;
  }

  .header {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    padding-inline: 40px;
    height: max(100vh, 1024px);
    padding: 20px;
    padding-left: 0;
  }

  .decorated-zone::before {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }

  .decorated-zone::after {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }

  .header__rec {
    inset-inline-end: 29px;
    inset-block-start: 22px;
  }

  .header__theme-menu {
    grid-column: 2;
    padding-block-start: 170px;
  }

  .subtitle-decor {
    grid-column: 2;
    grid-row: 3;
    justify-self: end;
    align-self: start;
    padding-left: 10px;
    padding-block-start: 48px;
  }

   .header__title {
    grid-column: 1 / span 2;
    grid-row: 2;
    justify-self: start;
    align-self: center;
    margin-block-start: 0;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  main {
    gap: 80px;
    padding: 0 20px;
  }

  .container-reasons {
    gap: 0;
  }

  .concentration-guide__section--twocolumn {
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .concentration-guide__section--gallery {
    display: grid;
    gap: 30px;
  }

  .title-what {
    padding-right: 512px;
  }

  .tips-list-container {
    grid-column: 2;
  }

  .tips-list {
    padding-top: 20px;
  }

  .gallery-grid {
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
  }

  .sunset {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .ice-cream {
    grid-column: 3/4;
    grid-row: 1/3;
  }

  .tape {
    grid-column: 1/2;
    grid-row: 2/4;
  }

  .books {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .street {
    grid-column: 2/4;
    grid-row: 3/4;
  }

  .footer {
    height: max(100vh, 1024px);
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  .header {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    height: min(100vh, 768px);
  }

  .header__theme-menu-list {
    flex-direction: row;
    margin-inline-start: 13px;
  }

  .header__theme-menu {
    grid-column: 1 / span 2;
    grid-row: 1;
    justify-self: center;
    align-self: start;
    padding-block-start: 0;
  }

  .header__title {
    grid-row: 2;
    align-self: center;
  }

  .subtitle-decor {
    grid-row: 3;
    padding-block-start: 60px;
  }

  main {
    gap: 80px;
  }

  .title-what {
    padding-right: 700px;
  }

  .factors-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: start;
  }

  .footer {
    height: max(768px);
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .concentration-guide__section--twocolumn {
    gap: 0;
  }
}
